.header__logo {
    max-width: 100%;
    object-fit: contain;
    
}

@media screen and (max-width: 457px) {
    .header__logo {
        width: 103.74px;
        height: 24.4px;
        margin-top: 28px;
        margin-left: 27px;
}}