.popup__conteiner {
    max-width:430px;
    width: 100%;
    background-color:white;
    position: relative;
    padding: 36px;
    border-radius: 10px;
    box-sizing: border-box;
    
}

@media screen and (max-width:500px) {
    .popup__conteiner {
       width: calc(100% - 19px *2);
       height: 322px;
       padding: 25px 20px;
    }
}