.profile__edit {
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    margin-top: 9px;
}

@media screen and (max-width: 457px) {
    .profile__edit {
        margin-top: 23px;
    }
}