.register__container {
    max-width:430px;
    width: 100%;
    height: 80vh;
    background-color:black;
    position: relative;
    padding: 36px 36px 36px 36px;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

@media screen and (max-width:500px) {
    .register__container {
       width: calc(100% - 19px *2);
       height: 322px;
       padding: 25px 20px;
    }
}


