@import url("./vendor/normalize.css");
@import url("./vendor/fonts/fonts.css");
@import url("./blocks/page/page.css");
@import url("./blocks/conteiner/conteiner.css");
/*Header*/
@import url("./blocks/header/header.css");
@import url("./blocks/header/__logo/header__logo.css");
@import url("./blocks/header/__login/header__login.css");
/*Profile*/
@import url("./blocks/profile/profile.css");
@import url("./blocks/profile/__avatar/profile__avatar.css");
@import url("./blocks/profile/__info/profile__info.css");
@import url("./blocks/profile/__edit/profile__edit.css");
@import url("./blocks/profile/__name/profile__name.css");
@import url("./blocks/profile/__subtitle/profile__subtitle.css");
@import url("./blocks/button/_type/button_type_edit.css");
@import url("./blocks/button/_type/button_type_add-card.css");
@import url("./blocks/profile/__avatar-container/profile__avatar-container.css");
/*Elements*/
@import url("./blocks/elements/elements.css");
@import url("./blocks/elements/__content/elements__content.css");
@import url("./blocks/element/element.css");
@import url("./blocks/element/__photo/element__photo.css");
@import url("./blocks/element/__position/element__position.css");
@import url("./blocks/element/__subtitle/element__subtitle.css");
@import url("./blocks/button/_type/button_type_like.css");
@import url("./blocks/button/_type/button_type_like_active.css");
@import url("./blocks/button/_type/button_type_delete.css");
@import url("./blocks/element/__counter/_like/element__counter_like.css");
@import url("./blocks/button/_type/button_type_delete-hidden.css");
/*Footer*/
@import url("./blocks/footer/footer.css");
@import url("./blocks/footer/__subtitle/footer__subtitle.css");
/*Popup*/
@import url("./blocks/popup/popup.css");
@import url("./blocks/popup/_opened/popup_opened.css");
@import url("./blocks/popup/__conteiner/popap__conteiner.css");
@import url("./blocks/popup/__title/popup__title.css");
@import url("./blocks/popup/__fieldset/popup__fieldset.css");
@import url("./blocks/popup/__data/popup__data.css");
@import url("./blocks/button/_type/button_type_save.css");
@import url("./blocks/button/_type/button_type_save-add.css");
@import url("./blocks/button/_type/button_type_close.css");
@import url("./blocks/popup/__big/popup__big-photo.css");
@import url("./blocks/popup/__big/popup__big-title.css");
@import url("./blocks/popup/__big/popup__big.css");
@import url("./blocks/popup/_type/popup_type_photo.css");
@import url("./blocks/popup/__data/popup__data_photo.css");
@import url("./blocks/popup/__conteiner/_type/popup__conteiner_type_photo.css");
@import url("./blocks/button/_type/button_type_close-photo.css");
@import url("./blocks/popup/__title/_type/popup__title_type_photo.css");
@import url("./blocks/popup/__data/_type/popup__data_type_error.css");
@import url("./blocks/button/_type/button_type_inactive.css");
@import url("./blocks/popup/__dara-error/popup__data-error.css");
@import url("./blocks/form/form.css");
@import url("./blocks/popup/__data/_type/popup__data_type_name.css");
@import url("./blocks/popup/__data/_type/popup__data_type_job.css");
@import url("./blocks/button/_type/button_type_disabled.css");
/*Login*/
@import url("./blocks/register/register.css");
@import url("./blocks/register/__container/register__container.css");
@import url("./blocks/register/__title/register__title.css");
@import url("./blocks/register/__input/register__input.css");
@import url("./blocks/button/_type/button_type_register.css");
@import url("./blocks/register/__form/register__form.css");
@import url("./blocks/register/__login/register__login.css");